<!-- wp:template-part {"slug":"header","theme":"calcite","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|md","bottom":"var:preset|spacing|md"}}}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--md);padding-bottom:var(--wp--preset--spacing--md)"><!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"var:preset|spacing|lg"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--lg);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","justifyContent":"left"},"fontSize":"xs"} -->
  <div class="wp-block-group has-xs-font-size"><!-- wp:group {"style":{"border":{"width":"0px","style":"none"},"spacing":{"blockGap":"5px","padding":{"top":"8px","right":"8px","bottom":"8px","left":"8px"}}},"backgroundColor":"bg-secondary","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
  <div class="wp-block-group has-bg-secondary-background-color has-background" style="border-style:none;border-width:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;padding-left:8px"><!-- wp:post-date /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"style":{"border":{"width":"0px","style":"none"},"spacing":{"padding":{"top":"var:preset|spacing|md","right":"var:preset|spacing|xs","bottom":"var:preset|spacing|xs","left":"var:preset|spacing|xs"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
  <div class="wp-block-group has-secondary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--md);padding-right:var(--wp--preset--spacing--xs);padding-bottom:var(--wp--preset--spacing--xs);padding-left:var(--wp--preset--spacing--xs)"><!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"0"}}}} /-->
  
  <!-- wp:separator {"className":"is-style-wide"} -->
  <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
  <!-- /wp:separator -->
  
  <!-- wp:post-author {"textAlign":"right","showAvatar":false,"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->
  
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"8px"},"border":{"width":"0px","style":"none"}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="border-style:none;border-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"blockGap":"5px","padding":{"top":"8px","right":"8px","bottom":"8px","left":"8px"}},"border":{"width":"1px"}},"backgroundColor":"bg-secondary","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
  <div class="wp-block-group has-bg-secondary-background-color has-background" style="border-width:1px;padding-top:8px;padding-right:8px;padding-bottom:8px;padding-left:8px"><!-- wp:paragraph -->
  <p>In:</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:post-terms {"term":"category"} /--></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"style":{"spacing":{"blockGap":"5px","padding":{"top":"8px","right":"8px","bottom":"8px","left":"8px"}},"border":{"width":"1px"}},"backgroundColor":"bg-secondary","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
  <div class="wp-block-group has-bg-secondary-background-color has-background" style="border-width:1px;padding-top:8px;padding-right:8px;padding-bottom:8px;padding-left:8px"><!-- wp:paragraph -->
  <p>Tags:</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:post-terms {"term":"post_tag"} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:template-part {"slug":"comments","theme":"calcite","tagName":"section","className":"entry-comments"} /--></div>
  <!-- /wp:group --></main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","theme":"calcite","tagName":"footer","className":"site-footer"} /-->